<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=PT+Sans'>

  <link rel="stylesheet" href="static/css/style.css">

  
</head>

<body>
  <div>
  <center><img src="/static/images/Group12.jpg" style="opacity: 0.8;"></center>
  </div>
  <div class="container" style="height: 300px;">
  <div class="container__item">
    <form class="form">
      <input type="email" id="tweet" class="form__field" placeholder="Share what's on your mind .. " style="width: 860px;" />
      <button type="button" class="btn btn--primary btn--inside uppercase" onclick="postTweet()">Tweet</button>
    </form>
  </div>
</div>

<script type="text/javascript">
    function postTweet(){
      var xhttp = new XMLHttpRequest();
      var url = "http://localhost:5000/tweet";
      var formData = new FormData();
      tweet = document.getElementById("tweet").value;
      formData.append("tweet", tweet);
      xhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200) {
          window.location.href = "http://localhost:5000/chat";
        }
        else{
        }
      }
      xhttp.open("POST", url, true);
      xhttp.send(formData);
    }
  </script>

</body>
</html>
